body{
 background-image:url(caloocan.jpg);
 height: 100vh;
background-repeat: no-repeat;
width: 100%;
background-size:cover;
background-position: center;
}
.box{
    width: 1000px;
    background: rgba(0, 0 ,0 , 0.4);
    padding: 0px;
    text-align: center;
margin: auto;
margin-top: 0%;
color: white;
font-family: 'Century ghothic',sas-serif;
}
.box-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h2{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 100;
}






